UBS-Messaging.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:complexType name="FCUBS_HEADERType">
		<xs:sequence>
			<xs:element name="SOURCE" type="SOURCEType" />
			<xs:element name="UBSCOMP" type="UBSCOMPType" />
			<xs:element minOccurs="0" name="MSGID" nillable="true" type="MSGIDType" />
			<xs:element minOccurs="0" name="CORRELID" nillable="true" type="CORRELIDType" />
			<xs:element name="USERID" type="USERType" />
			<xs:element name="BRANCH" type="MsgBrnType" />
			<xs:element minOccurs="0" name="MODULEID" nillable="true" type="MsgModuleIDType" />
			<xs:element name="SERVICE" nillable="true" type="ServiceType" />
			<xs:element name="OPERATION" nillable="true" type="OperationType" />
			<xs:element minOccurs="0" name="SOURCE_OPERATION" nillable="true" type="OperationType" />
			<xs:element minOccurs="0" name="SOURCE_USERID" nillable="true" type="SourceUserType" />
			<xs:element minOccurs="0" name="DESTINATION" type="DestinationType" />
			<xs:element minOccurs="0" name="MULTITRIPID" type="MutitripidType" />
			<xs:element minOccurs="0" name="FUNCTIONID" type="FunctionidType" />
			<xs:element minOccurs="0" name="ACTION" type="ActionType" />
			<xs:element minOccurs="0" name="MSGSTAT" type="MsgStatType" />
			<xs:element minOccurs="0" name="PASSWORD" type="PWDType" />
			<xs:element minOccurs="0" name="ADDL">
				<xs:complexType>
					<xs:sequence>
						<xs:element minOccurs="0" maxOccurs="unbounded" name="PARAM">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="NAME" type="xs:string" />
									<xs:element name="VALUE" type="xs:string" />
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="FCUBS_NotifHeaderType">
		<xs:sequence>
			<xs:element minOccurs="0" name="SOURCE" type="SOURCEType" />
			<xs:element name="MSGID" type="MsgNotifIdType" />
			<xs:element name="NOTIF_REF_NO" type="MsgNotifIdType" />
			<xs:element name="BRANCH" type="MsgBrnType" />
			<xs:element name="NOTIF_CODE" type="NotifCodeType" />
			<xs:element minOccurs="0" name="DESTINATION" type="DestinationType" />
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="SOURCEType">
		<xs:restriction base="xs:string">
			<xs:pattern value="[a-zA-Z_0-9]*" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="MsgBrnType">
		<xs:restriction base="xs:string">
			<xs:length value="3" />
			<xs:pattern value="[a-zA-Z_0-9]{3}" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="MsgNotifIdType">
		<xs:restriction base="xs:string">
			<xs:pattern value="[a-zA-Z0-9]{16}" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="MsgModuleIDType">
		<xs:restriction base="xs:string" />
	</xs:simpleType>
	<xs:simpleType name="UBSCOMPType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="FCUBS" />
			<xs:enumeration value="FCIS" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="MSGIDType">
		<xs:restriction base="xs:string">
			<xs:pattern value="[a-zA-Z_0-9]*" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CORRELIDType">
		<xs:restriction base="xs:string">
			<xs:pattern value="[a-zA-Z_0-9]*" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="USERType">
		<xs:restriction base="xs:string">
			<xs:maxLength value="12" />
			<xs:pattern value="[A-Z_0-9]*" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="PASSVALREQType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Y" />
			<xs:enumeration value="N" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="PWDType">
		<xs:restriction base="xs:string">
			<xs:maxLength value="128" />
			<xs:pattern value="[a-zA-Z_0-9=+/]*" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ServiceType">
		<xs:restriction base="xs:string">
			<xs:pattern value="[a-zA-Z_0-9]*" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="OperationType">
		<xs:restriction base="xs:string">
			<xs:pattern value="[a-zA-Z_0-9]*" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="DestinationType">
		<xs:restriction base="xs:string">
			<xs:pattern value="[a-zA-Z_0-9]*" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="MutitripidType">
		<xs:restriction base="xs:string">
			<xs:pattern value="[a-zA-Z_0-9]*" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="FunctionidType">
		<xs:restriction base="xs:string">
			<xs:maxLength value="8" />
			<xs:pattern value="[A-Z_0-9]*" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ActionType">
		<xs:restriction base="xs:string">
			<xs:pattern value="[a-zA-Z_0-9]*" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="MsgStatType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="SUCCESS" />
			<xs:enumeration value="WARNING" />
			<xs:enumeration value="FAILURE" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="NotifCodeType">
		<xs:restriction base="xs:string">
			<xs:maxLength value="35" />
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="ERRORType">
		<xs:sequence>
			<xs:element maxOccurs="unbounded" name="ERROR" type="ERRORDETAILSType" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ERRORDETAILSType">
		<xs:sequence>
			<xs:element name="ECODE" type="xs:string" />
			<xs:element name="EDESC" type="xs:string" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="WARNINGType">
		<xs:sequence>
			<xs:element maxOccurs="unbounded" name="WARNING" type="WARNINGDETAILSType" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="WARNINGDETAILSType">
		<xs:sequence>
			<xs:element name="WCOD" type="xs:string" />
			<xs:element name="WDESC" type="xs:string" />
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="SourceUserType">
		<xs:restriction base="xs:string" />
	</xs:simpleType>
</xs:schema>